*.dropbox
*.png
*.pdf
*.ppt
*.gif
*.js
*Kaynaklar*
*Odev*
*Ornek*
*node_modules*
*.docx
*.xls
*.xlsx
*.doc
*.css
*.php
*.txt
*.json
*.xml
*.html
*Resimler*
*.ini
*Yetkilendirmeler*
*jsapi*
*PostgreSQLjson*
